@media screen, print {
	#mw-element-1698285186544 {
		text-align: center;
	}
	#mw-element-1698286992515 {
		margin-bottom: px;
	}
	#mw-element-1698286992516 {
		margin-bottom: px;
	}
	#mw-element-1698286992517 {
		margin-bottom: px;
	}
	#mw-element-1698286992518 {
		margin-bottom: 0px;
	}
	#mw-element-1698286992519 {
		margin-bottom: 0px;
		text-align: left;
	}
	#mw-element-1698286989403 {
		text-align: left;
	}
	#mw-element-1698286989405 {
		text-align: left;
	}
	#mw-element-1698286989407 {
		text-align: left;
	}
}
